# Node modules
node_modules/

# Environment variables
.env

# TypeScript build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Temporary files
*.bak
*.tmp
